packages:
  yum:
    cups-libs: []
    dbus-glib: []
    libXrandr: []
    libXcursor: []
    libXinerama: []
    cairo: []
    cairo-gobject: []
    pango: []
    liberation-sans-fonts: []
    libwayland-client: []
    libwayland-cursor: []
    gtk3: []
    gdk-pixbuf2: []
    libxkbcommon: []
    libXScrnSaver: []
    GConf2: []
    atk: []
    at-spi2-atk: []
    at-spi2-core: []
    alsa-lib: []

commands:
  refresh-fonts:
    command: fc-cache -f -v
  atk:
    command: rpm -Uvh --nodeps --replacepkgs --nosignature http://mirror.centos.org/centos/7/os/x86_64/Packages/atk-2.28.1-2.el7.x86_64.rpm
  at-spi2-atk:
    command: rpm -Uvh --nodeps --replacepkgs --nosignature http://mirror.centos.org/centos/7/os/x86_64/Packages/at-spi2-atk-2.26.2-1.el7.x86_64.rpm
  at-spi2-core:
    command: rpm -Uvh --nodeps --replacepkgs --nosignature http://mirror.centos.org/centos/7/os/x86_64/Packages/at-spi2-core-2.28.0-1.el7.x86_64.rpm
  GConf2:
    command: rpm -Uvh --nodeps --replacepkgs --nosignature http://mirror.centos.org/centos/7/os/x86_64/Packages/GConf2-3.2.6-8.el7.x86_64.rpm
  libXScrnSaver:
    command: rpm -Uvh --nodeps --replacepkgs --nosignature http://mirror.centos.org/centos/7/os/x86_64/Packages/libXScrnSaver-1.2.2-6.1.el7.x86_64.rpm
  libxkbcommon:
    command: rpm -Uvh --nodeps --replacepkgs --nosignature http://mirror.centos.org/centos/7/os/x86_64/Packages/libxkbcommon-0.7.1-3.el7.x86_64.rpm
  libwayland-client:
    command: rpm -Uvh --nodeps --replacepkgs --nosignature http://mirror.centos.org/centos/7/os/x86_64/Packages/libwayland-client-1.15.0-1.el7.x86_64.rpm
  libwayland-cursor:
    command: rpm -Uvh --nodeps --replacepkgs --nosignature http://mirror.centos.org/centos/7/os/x86_64/Packages/libwayland-cursor-1.15.0-1.el7.x86_64.rpm
  gtk3:
    command: rpm -Uvh --nodeps --replacepkgs --nosignature http://mirror.centos.org/centos/7/os/x86_64/Packages/gtk3-3.22.30-5.el7.x86_64.rpm
  gdk-pixbuf2:
    command: rpm -Uvh --nodeps --replacepkgs --nosignature http://mirror.centos.org/centos/7/os/x86_64/Packages/gdk-pixbuf2-2.36.12-3.el7.x86_64.rpm
