packages:
  yum:
    cups-libs: []
    dbus-glib: []
    libXrandr: []
    libXcursor: []
    libXinerama: []
    cairo: []
    cairo-gobject: []
    pango: []
    liberation-sans-fonts: []
    libwayland-client: []
    libwayland-cursor: []
    gtk3: []
    gdk-pixbuf2: []
    libxkbcommon: []
    libXScrnSaver: []
    GConf2: []
    atk: []
    at-spi2-atk: []
    at-spi2-core: []
    alsa-lib: []

commands:
  refresh-fonts:
    command: fc-cache -f -v
