packages:
  yum:
    cups-libs: []
    dbus-glib: []
    libXrandr: []
    libXcursor: []
    libXinerama: []
    cairo: []
    cairo-gobject: []
    pango: []
    # needed for my project, you don't *need* the fonts
    liberation-sans-fonts: []
    libwayland-client: []
    libwayland-cursor: []
    gtk3: []
    gdk-pixbuf2: []
    libxkbcommon: []
    libXScrnSaver: []
    GConf2: []
    atk: []
    at-spi2-atk: []
    at-spi2-core: []
    alsa-lib: []

commands:
  refresh-fonts:  # this is so liberation-sans gets picked up
    command: fc-cache -f -v
  atk:
    command: rpm -ivh --nodeps --replacepkgs http://mirror.centos.org/centos/7/os/x86_64/Packages/atk-2.28.1-1.el7.x86_64.rpm
  at-spi2-atk:
    command: rpm -ivh --nodeps --replacepkgs http://mirror.centos.org/centos/7/os/x86_64/Packages/at-spi2-atk-2.26.2-1.el7.x86_64.rpm
  at-spi2-core:
    command: rpm -ivh --nodeps --replacepkgs http://mirror.centos.org/centos/7/os/x86_64/Packages/at-spi2-core-2.28.0-1.el7.x86_64.rpm
